<div class="row">
    <div class="col-12 mb-2" *ngIf="consulta && consulta._id">
        <div class="card">
            <div class="card-header">
                <b>Ferramentas</b>
            </div>
            <div class="card-body">
                <button class="btn btn-primary" (click)="doGoProntuarioConsulta(consulta)">Acessar Prontuario da Consulta do Paciente</button>
                <button class="btn btn-primary" (click)="doGoProntuarioGeral(paciente)">Acessar Prontuario Geral do Paciente</button>
            </div>
        </div>
    </div>
    <div class="col-12 mb-2" *ngIf="medico">
        <div class="card">
            <div class="card-header">
                <b>Informações do Médico</b>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 mb-2">
                        <b>Nome</b>
                        <input type="text" class="form-control" placeholder="Nome" [(ngModel)]="medico.nome" disabled>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 mb-2">
        <div class="card">
            <div class="card-header">
                <b>Informações do Paciente</b>
            </div>
            <div class="card-body">
                <app-cadastro-rapido-usuario-component custom-title="Paciente" [usuario-id]="paciente ? paciente._id : undefined" (on-usuario-confirmado)="onPacienteConfirmado($event)"></app-cadastro-rapido-usuario-component>
            </div>
        </div>
    </div>
    <div class="col-12 mb-2">
        <div class="card">
            <div class="card-header">
                <b>Informações do Convênio</b>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-4 mb-2">
                        <b>Convênio</b>
                        <ui-data-selector [(ngModel)]="convenio" [label]="getUiDataSelectDominioLabel" [query]="getUiDataSelectDominioQuery('convenio')">
                        </ui-data-selector>
                    </div>
                    <div class="col-12 col-md-4 mb-2">
                        <b>Complemento (Plano)</b>
                        <input type="text" class="form-control" [(ngModel)]="convenioComplemento">
                    </div>
                    <div class="col-12 col-md-4 mb-2">
                        <b>Identificação</b>
                        <input type="text" class="form-control" [(ngModel)]="convenioIdentificacao">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 mb-2">
        <div class="card">
            <div class="card-body text-right">
                <button class="btn btn-primary" [disabled]="!paciente" (click)="doSalvar()">Salvar</button>
            </div>
        </div>
    </div>
</div>