<div class="row">
    <div class="col-12 col-md-12 d-flex flex-column align-items-center justify-content-center">
        
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-3"></div>
    <div class="col-12 col-md-6 d-flex flex-column align-items-center justify-content-center">
        <div class="card w-100 mb-2" *ngFor="let medico of secretariado">
            <div class="card-header">
                <b>Dr. {{medico.nome}}</b>
            </div>
            <div class="card-body d-flex">
                <button class="btn btn-primary btn-sm" (click)="doGoAgenda(medico)">Agendamento</button>
                <span class="mr-2"></span>
                <button class="btn btn-primary btn-sm" (click)="doGoConsultaMedico(medico)">Nova Consulta</button>
            </div>
            <div class="card-footer p-2">
                <app-painel-medico-component class="w-100" [medico]="medico._id" [alvo]="alvo"></app-painel-medico-component>
            </div>
        </div>
    </div>
</div>