<div class="row">
    <div class="col-12 col-md-5">
        <div class="card w-100 mb-2">
            <div class="card-header">
                <b>MÉDICOS</b>
            </div>
            <ul class="list-group">
                <li class="list-group-item list-group-item-action d-flex align-items-center justify-content-between pt-2 pb-2" *ngFor="let medico of secretariado">
                    <span>{{medico.nome}}</span>
                    <button class="btn btn-primary btn-sm" (click)="doGoAgenda(medico)">Agendamento</button>
                    <button class="btn btn-primary btn-sm" (click)="doGoConsultaMedico(medico)">Nova Consulta</button>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-12 col-md-7">
        <div class="card w-100 mb-2" *ngFor="let medico of secretariado" (click)="doGoAgenda(medico)">
            <div class="card-header">
                <b>PRÓXIMOS HORÁRIOS</b> para <b>{{medico.nome}} </b>
            </div>
            <ul class="list-group">
                <li class="list-group-item list-group-item-action d-flex align-items-center justify-content-between pt-2 pb-2" *ngIf="!getAgendamentos(medico._id).length">
                    <span>Não há registros...</span>
                </li>
                <ng-container *ngFor="let agendamento of getAgendamentos(medico._id)">
                    <li class="list-group-item list-group-item-action d-flex align-items-center justify-content-between pt-2 pb-2" *ngFor="let medico of secretariado">
                        <span>{{getAlvoAsScreenDate(agendamento.alvo)}}</span>
                        <button class="btn btn-primary btn-sm" (click)="doGoConsultaAgendamento(agendamento)">Iniciar Consulta</button>
                    </li>
                </ng-container>
            </ul>
        </div>
    </div>
</div>