<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <label class="mr-1">Paciente:</label><span>Renan Vinicius Carvalho Favero</span>
                            <span class="mr-4"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ng-container *ngIf="consultas.length && medicos.length && dominios.length">
            <div class="col-12 mt-2" *ngFor="let prontuario of prontuarios">
                <div class="card">
                    <div class="card-body">
                        <span class="badge badge-primary">Consulta</span>
                        <span class="mr-4"></span>
                        <label class="mr-1">Médico:</label><span>{{getMedico(prontuario.idUsuarioMedico).nome}}</span>
                        <span class="mr-4"></span>
                        <label class="mr-1">Data:</label><span>{{getDateScreenFormat(getConsulta(prontuario.idConsulta).data)}}</span>
                        <br>
                        <br>
                        <blockquote class="blockquote">
                            <span class="badge badge-dark mb-1" style="font-size: 0.8em;">Queixa</span>
                            <ng-container *ngFor="let item of prontuario.queixa">
                                <p class="mb-1" style="font-weight: 300;font-size: 0.8em;">
                                    <span class="badge badge-light mr-1">{{getDateScreenFormat(item.data)}}</span>
                                    <span class="mr-1">{{item.sintoma}}</span>
                                </p>
                            </ng-container>
                        </blockquote>
                        <blockquote class="blockquote">
                            <span class="badge badge-dark mb-1" style="font-size: 0.8em;">Diagnóstico</span>
                            <ng-container *ngFor="let item of prontuario.diagnostico">
                                <p class="mb-1" style="font-weight: 300;font-size: 0.8em;">
                                    <span class="badge badge-light mr-1">{{getDateScreenFormat(item.data)}}</span>
                                    <span class="mr-1">{{getDominio(item.doenca).valor}}</span>
                                </p>
                            </ng-container>
                        </blockquote>
                        <blockquote class="blockquote">
                            <span class="badge badge-dark mb-1" style="font-size: 0.8em;">Prescrição</span>
                            <ng-container *ngFor="let item of prontuario.prescricoes">
                                <p class="mb-1" style="font-weight: 300;font-size: 0.8em;">
                                    <span class="badge badge-light mr-1">{{getDateScreenFormat(item.data)}}</span>
                                    <span class="mr-1">{{getDominio(item.medicamento).valor}}</span>
                                    <span class="mr-1">{{item.medicamentoDosagem}}</span>
                                    <span class="mr-1">{{item.medicamentoDuracao}}</span>
                                    <span class="mr-1">{{item.medicamentoFrequencia}}</span>
                                </p>
                            </ng-container>
                        </blockquote>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>