<div class="row">
    <div class="col-12">
        <div class="card w-100">
            <div class="card-body">
                <div class="row">
                    <div class="col d-flex">
                        <input class="form-control" placeholder="Buscar por Especialidade, Nome ou CRM" [(ngModel)]="query">
                        <span class="mr-2"></span>
                        <button class="btn btn-primary" (click)="doGoBuscaMedicos(query)">Buscar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>