<div class="d-flex w-100 h-100 align-items-center justify-content-center">
    <blockquote class="blockquote">
        <!-- <p class="mb-0"> -->
            <div class="card bg-primary h-100 mb-2">
                <div class="card-body p-4 d-flex align-items-center">
                    <b class="text-white" style="font-size: 2em;">Health Care</b>
                </div>
            </div>
            <button class="btn btn-light btn-block" (click)="doAuthenticateWithGoogle()">Entrar com Google <span class="mr-2"></span><i class="fab fa-google"></i></button>
        <!-- </p> -->
    </blockquote>
    <!-- <button class="btn btn-light" (click)="doAuthenticateWithGoogle()">Entrar com Google <span class="mr-2"></span><i class="fab fa-google"></i></button> -->
</div>