<ng-container *ngIf="!isSomenteLeitura()">
    <div class="row mb-3">
        <div class="col-12 mb-2">
            <b>Seleção de {{_customTitle||'Usuário'}}</b>
            <br>
        </div>
        <ng-container *ngFor="let option of oSelecaoUsuario; let i=index">
            <div class="col-12 col-md-12 mb-1">
                <div class="custom-control custom-radio">
                    <input type="radio" id="{{option.label}}" name="radio{{i}}" [(ngModel)]="sUsuario" (change)="onUsuarioSelecaoSelecionada($event)" [value]="option.id" class="custom-control-input" [disabled]="isSomenteLeitura()">
                    <label class="custom-control-label" for="{{option.label}}">{{option.label}}</label>
                </div>
            </div>
        </ng-container>
    </div>
</ng-container>
<ng-container *ngIf="sUsuario==='E' && !isSomenteLeitura()">
    <div class="row">
        <div class="col-12 col-md-12">
            <b>{{_customTitle||'Usuário'}}</b>
        </div>
        <ng-container>
            <div class="col-12 col-md-12 d-flex align-items-end justify-content-between mb-2">
                <ui-data-selector class="flex-grow-1" [(ngModel)]="usuarioSelecionado" [label]="getUiDataSelectUsuarioLabel" [query]="getUiDataSelectUsuarioQuery()" placeholder="Digite o Nome, Telefone, Documento ou Telefone...">
                </ui-data-selector>
                <button class="btn btn-primary ml-2" (click)="onUsuarioConfirmado(usuarioSelecionado)" [disabled]="isUsuarioSelecionado()">
                    Selecionar
                </button>
            </div>
        </ng-container>
    </div>
</ng-container>
<ng-container>
    <ng-container *ngIf="usuario">
        <div class="row">
            <div class="col-12 col-md-4 mb-2">
                <b>Nome</b>
                <input type="text" class="form-control" placeholder="Nome" [(ngModel)]="usuario.nome" [disabled]="isSomenteLeitura()">
            </div>
            <div class="col-12 col-md-4 mb-2">
                <b>Documento</b>
                <input type="text" class="form-control" placeholder="Documento" [(ngModel)]="usuario.documento" [disabled]="isSomenteLeitura()">
            </div>
            <div class="col-12 col-md-4 mb-2">
                <b>Data de Nascimento</b>
                <input type="date" class="form-control" placeholder="Data de Nascimento" [(ngModel)]="usuario.dataNascimento" [disabled]="isSomenteLeitura()">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 mb-2">
                <b>Email</b>
                <input type="text" class="form-control" placeholder="Email" [(ngModel)]="usuario.email" [disabled]="isSomenteLeitura()">
            </div>
            <div class="col-12 col-md-4 mb-2">
                <b>Telefone</b>
                <input type="text" class="form-control" placeholder="Telefone" [(ngModel)]="usuario.telefone" [disabled]="isSomenteLeitura()">
            </div>
            <div class="col-12 col-md-4 mb-2" *ngIf="sUsuario==='N' && !isSomenteLeitura()">
                <b class="d-block invisible">Cadastrar</b>
                <button class="btn btn-primary" (click)="doCadastrarUsuario()">Cadastrar</button>
            </div>
        </div>
    </ng-container>
</ng-container>