<div class="card w-100 mb-2">
    <div class="card-header">
        <b>HORARIOS DO DIA - COM ATENDIMENTO</b>
    </div>
    <div class="card-body p-2">
        <li class="list-group-item list-group-item-action d-flex align-items-center justify-content-between pt-2 pb-2" *ngIf="!consultas.length">
            <span>Não há registros...</span>
        </li>
        <ng-container *ngFor="let consulta of consultas">
            <li class="list-group-item list-group-item-action d-flex align-items-center justify-content-between pt-2 pb-2">
                <span>
                    <span>
                        <b>Atendimento iniciado em:</b> {{getDateScreenFormat(consulta.data)}}
                    </span>
                    <br>
                    <span *ngIf="getAgendamentoConsulta(consulta.idAgendamento)">
                        <b class="badge bg-primary text-light">Agendamento</b> <b class="badge bg-light text-dark ml-2">{{getDateScreenFormat(getAgendamentoConsulta(consulta.idAgendamento).alvo)}}</b> 
                    </span>
                    <span *ngIf="!getAgendamentoConsulta(consulta.idAgendamento)">
                        <b class="badge bg-primary text-light">Encaixe</b>
                    </span>
                </span>
                <ng-container>
                    <button class="btn btn-primary btn-sm" (click)="doGoAtualizarConsulta(consulta)">Atualizar Consulta</button>
                </ng-container>
            </li>
        </ng-container>
    </div>
</div>
<div class="card w-100">
    <div class="card-header">
        <b>HORÁRIOS DO DIA - SEM ATENDIMENTO</b>
    </div>
    <div class="card-body p-2">
        <ul class="list-group">
            <li class="list-group-item list-group-item-action d-flex align-items-center justify-content-between pt-2 pb-2" *ngIf="!getAgendamentos().length">
                <span>Não há registros...</span>
            </li>
            <ng-container *ngFor="let agendamento of getAgendamentos()">
                <li class="list-group-item list-group-item-action d-flex align-items-center justify-content-between pt-2 pb-2">
                    <span>{{getDateScreenFormat(agendamento.alvo)}}</span>
                    <ng-container *ngIf="!getConsultaAgendamento(agendamento._id)">
                        <button class="btn btn-primary btn-sm" (click)="doGoConsultaAgendamento(agendamento)">Iniciar Consulta</button>
                    </ng-container>
                    <ng-container *ngIf="getConsultaAgendamento(agendamento._id)">
                        <button class="btn btn-primary btn-sm" (click)="doGoAtualizarConsulta(getConsultaAgendamento(agendamento._id))">Atualizar Consulta</button>
                    </ng-container>
                </li>
            </ng-container>
        </ul>
    </div>
</div>