<div class="row">
    <div class="col-12  mb-2">
        <div class="card">
            <div class="card-header">
                <b>Painel de Agendamento</b>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-3">
                        <b>De:</b>
                        <br>
                        <div class="d-flex align-items-end justify-content-between">
                            <button class="btn btn-primary mr-2" (click)="doDecreaseDay()">
                                << </button> <input type="date" class="form-control flex-grow-1" placeholder="Início" [(ngModel)]="dateRangeStart" (change)="onDateStartChange(dateRangeStart)">

                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <b>Até:</b>
                        <br>
                        <div class="d-flex align-items-end justify-content-between">
                            <input type="date" class="form-control" placeholder="Fim" [value]="dateRangeEnd" disabled>
                            <button class="btn btn-primary ml-2" (click)="doIncreaseDay()">
                                >>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="horarios">
    <div class="col-12 col-md mb-2 d-flex flex-column flex-md-row justify-content-between">
        <ng-container *ngFor="let data of getDates(); let i = index;">
            <div class="card w-100 mb-2" [ngClass]="{'mr-2': i!==getDates().length}">
                <div class="card-header">
                    <b>{{dias[getDiaSemana(data)]}}</b>
                    <br class="m-0">
                    <span>{{getDataExibicao(data)}}</span>
                </div>
                <div class="list-group" style="height: 300px;overflow: hidden;overflow-y: scroll;">
                    <ng-container *ngFor="let horario of getHorarios(getDiaSemana(data))">
                        <ng-container *ngIf="getAgendamento(data,horario)">
                            <button class="list-group-item list-group-item-action" style="cursor: pointer;" (click)="doOpenAgendamentoCadastrado(getAgendamento(data,horario))">
                                <span>{{horario.inicio}} - {{horario.fim}}</span>
                                <i class="fas fa-clock ml-2" style="margin-top: 1px;"></i>
                            </button>
                        </ng-container>
                        <ng-container *ngIf="!getAgendamento(data,horario)">
                            <button class="list-group-item list-group-item-action" style="cursor: pointer;" (click)="doOpenAgendamento(data,horario)">
                                {{horario.inicio}} - {{horario.fim}}
                            </button>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
        </ng-container>
    </div>

</div>
<!-- Modal -->
<div class="modal fade" id="md-agendamento">
    <div class="modal-dialog modal-lg w-100 h-75 pl-4 pr-4" role="document">
        <div class="modal-content h-100 overflow-auto mt-1 mb-1" *ngIf="agendamento">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Agendamento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" (click)="doCloseAgendamento()">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-cadastro-agendamento-component [agendamento]="agendamento._id" [alvo]="agendamento.alvo" [medico]="agendamento.idUsuarioMedico" (on-solicitacao-agendamento-confirmado)="onSolicitacaoAgendamentoConfirmado($event)"></app-cadastro-agendamento-component>
            </div>
        </div>
    </div>
</div>